#welcome1 {
    margin-top: 7.5%
}

#welcome2 {
    position: relative;
    height: fit-content;
    text-align: center;
    font-size: 28px;
}

#welcome2 > h1 {
    margin-top: 0px;
}

.introduction {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

#about1 {
    text-align: left;
    flex: 1;
    font-size: 18px;
}

#about2 {
    text-align: left;
    flex: 1;
    font-size: 18px;
}